body{
	background: #fff;
}
.header{
	height: 100px;
	background-color: #da0023;
}
.center-box{
	width: 1600px;
	margin:0 auto;
}
.center-box>h1{
	margin-top: 30px;
}
.center-box>ul{
	margin-left: 120px;
}
.center-box>ul>li{
	float: left;
	width: 136px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	border:1px solid #a90007;
	border-radius: 25%;
	box-shadow: 1px 2px 3px #a90007;
	border-bottom: none;
	border-top: none;
	margin-top: 10px;
}
.center-box>ul>.style-p{
	position: relative;
}
.center-box>ul>.style-p:hover{
	background-color: #000;
}
.center-box>ul>.style-p>ul{
	display: none;
	width: 120px;
	height: 160px;
	position: absolute;
	left:8px;
	top:70px;
}
.center-box>ul>.style-p:hover .style-f
{
	display:block;
}
.center-box>ul>.style-p:hover:after{
	content:'';
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #fff;
	position: absolute;
	left: 60px;
	bottom: 0;
}
.center-box>ul>.style-p>ul>li{
	background-color: #000;
	width: 100%;
	height: 50px;
	text-align: center;
}
.center-box>ul>.style-p>ul>li>a{
	display: block;
	width: 110px;
	font-size: 16px;
	color: #fff;
	line-height: 50px;
}
.center-box>ul>.style-p>ul>li:hover{
	background: #da0023;
}
.center-box>ul>li>a{
	display: block;
	font-size: 18px;
	color:#fff;
	line-height: 65px;
}
.center-box>ul>li>a:hover{
	color:yellow;
}
.location{
	float: left;
	width: 350px;
	height: 100px;
	background: #353535;
}
.location>ul{
	margin:30px 50px;
}
.location>ul>li{
	width: 80px;
	height: 40px;
	float:left;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	line-height: 40px;
}
.location>ul>li:hover{
	background-color:#fff; 
}
.location>ul>li>a{
	display: block;
	color:#fff;
	font-size: 16px;
}
.location>ul>li>a:hover{
	color:#000;
}
.banner{
	height: 645px;
}
.content-box{
	width: 1560px;
	margin:0 auto;
}
.introduction{
	margin:100px;
}
.introduction>ul{
	display: block;
}
.introduction>ul>li{
	width: 453px;
	height: 521px;
	float: left;
	padding:0 31px;
	border-right: 1px solid #dedede;
}
.introduction>ul>li>p{
	font-size: 14px;
	line-height: 22px;
	color: #58585a;
	padding:12px 2px;
}
.picture p{
	float: left;
	width: 520px;
}
.orgin{
	margin-top: 100px;
}
.orgin>div{
	display: inline-block;
}
.orgin>div{
	width: 453px;
	padding:0 31px;
}
.orgin>div>p{
	font-size: 14px;
	padding:12px 2px;
	line-height: 22px;
}
.pic{
	height: 532px;
	margin-top: 80px;
}
.pic>img{
	height: 100%;
}
.brand{
	height: 171px;
	margin-top: 80px;
}
.brand>.fr>img{
	padding:20px 50px;
	text-align: center;
	line-height:90px; 
	border-right: 1px solid #d9d9d9;
}
.brand>.fr{
	margin-top: 30px;
}
.branch>dl>dd>p{
	float: left;
	font-size: 20px;
	line-height: 68px;
	color:#000;
	text-align: left;
	border-bottom: 1px solid #c9c9c9;
}
.branch>dl>dd>p:nth-child(1){
	width: 180px;
	margin-left:30px; 
}
.branch>dl>dd>p:nth-child(2){
	width: 300px;
}
.branch>dl>dd>p:nth-child(3){
	width: 850px;
	color: #595a5c;
}
.branch>dl>dd>p:nth-child(4){
	width: 200px;
	color: #c30e23;
	font-size: 24px;
}
/*咨询区*/
.ask{
	margin-top: 150px;
}
.ask>ul{
	width: 1605px;
	height: 108px;
	margin:0 auto;
	background: #f4f4f4;
	overflow: hidden;
}
.ask>ul>li{
	float: left;
	width: 330px;
	padding-left: 70px;
	height: 75px;
	margin-top: 19px;
	border-right: 1px solid #d6d6d6;
	color:#000;
}
.ask>ul>li>div>p{
	max-width: 220px;
}
.ask>ul>li>.right{
	margin-left: 20px;
}
.sj>a{
	background: url(../imge/sj.png) left top no-repeat; 
	width: 84px;
	height: 30px;
	display: block;
	margin: 100px auto;
}
.sj>a:hover{
	background: url(../imge/sj.png) right top no-repeat; 
}
/*你心目中的薇拉*/
.your{
	width: 100%;
	height: 378px;
	background-color: #dc504f;
}
.your>a{
	display: block;
	text-align: center;
}
/*footer区*/
.footer{
	background: #000;
}
.nav{
	line-height:85px; 
}
.list>ul{
	margin-left:180px;
}
.list>ul>li{
	width: 290px;
	float: left;
	padding:0 14px;
}
.list-in>li{
	width: 290px;
	height: 40px;
	border-bottom: 1px dotted #fff;
}
.list-in>li>a{
	color:#707070;
	line-height: 40px;
	font-size: 14px;
}
.list-in>li>a:hover{
	color: #f00;
}
.content{
	padding-top: 95px;
}
/*icon区*/
.footer>.content>.icon{
	margin:50px auto;
 	line-height: 35px;
 	overflow: hidden;
}
.footer>.content>.icon>a{
	float: left;
	height: 35px;
	margin:0 50px;
}
.footer>.content>.icon>a:nth-child(1):hover{
	background: url(../img/footer_icon.png) 0 -35px no-repeat;
	width: 120px;
}
.footer>.content>.icon>a:nth-child(2):hover{
	background: url(../img/footer_icon.png) -140px -35px no-repeat;
	width: 120px;
}
.footer>.content>.icon>a:nth-child(3):hover{
	background: url(../img/footer_icon.png) -280px -35px no-repeat;
	width: 120px;
}
.footer>.content>.icon>a:nth-child(4):hover{
	background: url(../img/footer_icon.png) -400px -35px no-repeat;
	width: 120px;
}
.footer>.content>.icon>a:nth-child(5):hover{
	background: url(../img/footer_icon.png) -550px -35px no-repeat;
	width: 120px;
}
.footer>.content>.icon>a:nth-child(6):hover{
	background: url(../img/footer_icon.png) -720px -35px no-repeat;
	width: 120px;
}
.footer>.content>.icon>a:nth-child(7):hover{
	background: url(../img/footer_icon.png) -860px -35px no-repeat;
	width: 120px;
}
.last-l>a{
	margin-right: 15px;
}
.last-r{
	max-width: 750px;
}
.last-r>p{
	display: block;
	margin-bottom: 10px;
}
.last-r>p:nth-child(1){
	line-height: 17px;
	color:#ababab;
}
.last-r>p:nth-child(2){
	line-height: 13px;
	color:#515151;
}
.last-r>p:nth-child(3){
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	color:#fff;
	margin:70px auto;
	text-align: right;
}
.last-r>p:nth-child(3)>a{
	margin:0 10px ;
	color:#fff;
}
/*固定区*/
.fixed{
	width: 100%;
	height: 59px;
	background: #da0023;
	color:#fff;
	position: fixed;
	bottom: 0;
	left:0;
}
.fixed>div{
	line-height: 57px;
}
.fixed>.ff{
	display: block;
	margin: 10px 0 0 153px;
}
.fixed>.ff>a>span{
	font-size: 18px;
    margin-left: 20px
}
.fixed>.fj{
	margin-left: 270px;
}
.fixed>.fj>a{
	font-size:18px;
	margin:0 20px; 
	color:#fff;
}
.fixed>.fj>a:hover{
	color:yellow;
}

.fixed>.fm>a{
	margin-right: 77px;
	vertical-align: top;
}